# Hash of user: password if authentication is wanted (HTTP Basic auth)
users:
  nil

# Directory in which the wiki pages live
wikiroot:   nil   # Defaults to $HOME/wiki

# Directory in which .git can be found, in case of e.g. subdirectories
repo_path:  nil   # Defaults to wikiroot

