<div id="section_info">
  <h1>Wiki History</h1>
</div>

<div id="history_view">

  <div class="sidebar">
    <ul class="info">
      <li>Showing <%= @history.size %> commits:</li>
    </ul>
  </div>

  <div class="content">
    <ul>
      <% @history.each do |commit| %>
        <li class="commit">
          <span class="subject">
            <%= commit.subject %>
          </span>
          <span class="time">
            <script type="text/javascript">
              document.write(time_ago_in_words(<%= commit.time.for_time_ago_in_words %>) + ' ago');
            </script>
          </span>
        </li>
      <% end %>
    </ul>
  </div>

</div>

