<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
                      "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xml:lang="en" >
  <head>

    <title><%= @html_title %></title>

    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />

    <link rel="stylesheet" href="/giraffe/css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/giraffe/css/sh_style.css" type="text/css" media="screen" />

    <script language="javascript" type="text/javascript" src="/giraffe/scripts/app.js"></script>
    <script language="javascript" type="text/javascript" src="/giraffe/scripts/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="/giraffe/scripts/jeditable.min.js"></script>

  </head>

  <body>

    <!-- Pseudo container for the whole screen -->
    <div id="window">

      <!-- All real elements -->
      <div id="everything">

        <!-- Main navigation -->
        <div id="navigation">
          <ul>
            <li><a href="/<%= Giraffe::Conf.home %>" title="Go to home page" accesskey="i">home</a></li>
            <li><a href="/h"  title="View wiki history" accesskey="y">history</a></li>
            <li><a href="/l"  title="List of pages" accesskey="l">pages</a></li>
            <li>
              <form method="get" action="/s" class="search" accesskey="s">
                <input type="text" name="search" size="15" value="search" onfocus="clearField(this);" />
              </form>
            </li>
          </ul>
        </div>

        <!-- Page content -->
        <div id="content">
          <%= @content %>
        </div>

        <!-- Footer with info -->
        <div id="footer">
          <ul>
            <li><a href="http://validator.w3.org/check?uri=referer">Valid XHTML 1.1</a></li>
            <li><a href="http://jigsaw.w3.org/css-validator/check/referer">Valid CSS 2.1</a></li>
            <li><a href="http://www.section508.info/check_this.cfm?URLtest=http://http://cs.helsinki.fi/u/esaynatk&amp;s508=1&amp;CheckURL=0">508 OK</a></li>
            <li><a href="<%= Giraffe::Conf.itself %>" title="Giraffe website" class="imagelink">
              <img src="/giraffe/images/giraffe_logo_small.png" alt="Giraffe" /> power!
            </a></li>
          </ul>
        </div>    <!-- /footer -->

      </div>      <!-- /everything -->

    </div>        <!-- /window -->

  </body>

</html>

