<% if @pages.empty? %>
  <h1>No pages yet</h1>
<% else %>
  <h1>All pages</h1>

  <div class="content">
    <ul class="page_list">

      <% @pages.each do |page| %>

        <li>
          <ul class="page_in_list">
            <li class="name">
              <a href="/<%= page.name %>"><%= page.name %></a>
            </li>
            <li class="actions">
              <ul>
                <li><a href="/e/<%= page.name %>">edit</a></li>
                <li><a href="/h/<%= page.name %>">history</a></li>
              </ul>
            </li>
          </ul>
        </li>

      <% end %>

    </ul>
  </div>
<% end %>
