/* First, some defaults */

body {
  background-color:   #fff;
  color:              #555;

  font-size:          0.9em;
  font-weight:        normal;
  font-family:        "Bitstream Vera Sans", Verdana, Arial, Helvetica, sans-serif;

  line-height:        1.3em;

  padding:            0em;
  border:             0em;
  margin:             0em;
}

  /* Links */

  a {
    display:            inline;

    color:              #333;

    text-decoration:    none;

    font-style:         normal;
    font-weight:        normal;
    font-size:          1.1em;

    padding:            0em;
    border:             0em;
    margin:             0em;
  }

  a:link, a:active, a:visited {
    border-bottom:      1px dotted #333;
  }

  a:hover {
    color:              #000;
    border-bottom:      1px solid #000;
  }

  a.imagelink {
    border:             0em;
  }


  /* Main container */

  #everything {
    width:              70%;

    padding:            2em;
    border:             0em;
    margin:             auto;
  }


    /* Logo section */

    #site_logo {
      display:          inline;
      float:            left;
    }

      #site_logo img {
        clear:          none;
      }


    /* Main navigation */

    #navigation {
      text-align: right;
    }

      #navigation ul {
        list-style-type:  none;
      }

        #navigation ul li {
          display:          inline;

          margin-right:   1em;
        }

      #navigation form {
        display:          inline;
      }

        #navigation form input {
          display           inline;
        }



    /* Site section display (i.e. name of page or something similar.) */

    #section_info {
      display:            block;
      clear:              none;

      text-align:         right;
    }

      span.pretty_dir {
        color:              #ccc;

        font-style:         italic;
        font-size:          1em;
        font-weight:        normal;

        letter-spacing:     0.2em;

        margin-right:       0.2em;
      }

      span.pretty_name {
        font-weight:        normal;

        letter-spacing:     0.2em;
      }


    /* Content stuff further down */

    #content {
      clear:                both;

      margin-top:           1em;
    }

    /* Footer information at the bottom */

    #footer {
      display:            block;
      clear:              both;

      text-align:         center;
      font-size:          0.6em;

      margin-top:         2em;
    }

      #footer ul {
        display:            inline;

        text-align:         center;
        vertical-align:     top;

        list-style-type:    none;
      }

        #footer ul li {
          display:            inline;

          vertical-align:     top;

          padding:            1em;
        }

      #footer img {
        display:            inline;

        vertical-align:     bottom;

        padding:            0em;
        border:             0em;
        margin:             0em;
      }


    /* Single page */

    #page_view {
    }

      #page_actions {
        display:            inline;
        float:              left;
        clear:              none;

        text-align:         right;
        line-height:        2em;

        padding-right:      1em;
        border-right:       1px solid #bcf;
      }

        #page_actions ul {
          list-style-type:    none;
        }

        #page_view_details {
          clear:              both;

          color:              #777;

          text-align:         right;
          font-size:          0.7em;
        }

          #page_view_details p {
            display:            inline;
          }

          #page_view_details ul {
            display:            inline;

            list-style-type:    none;
          }

            #page_view_details ul li {
              display:            inline;
            }

          #page_view_details .branch_name {
            font-style:         italic;
          }


      #page_view div.page_content, #page_viev div.page_edit_area {
        display:            block;
        float:              right;
        clear:              none;
      }

      #page_view div.page_content {
        min-height:         10em;
        min-width:          75%;

        margin-left:        2em;
        margin-right:       2em;
      }


    /* Page list */

    #page_list ul {
      list-style-type:    none;
    }

      #page_list .entry {
        margin-bottom:      0.5em;
      }

      #page_list .directory ul {
        display:            block;
      }

      #page_list .page ul {
        display:            inline;
      }

      #page_list .entry ul li {
        display:            inline;
      }

      #page_list .actions a {
        font-style:         italic;
        font-size:          0.8em;
      }


    /* Wiki history */

    #history_view .sidebar ul.info {
      list-style-type:    none;
    }

