/* First, some defaults */

body {
  min-width:          800px;

  background-color:   #fff;
  background:         url(/images/giraffe_logo_full.png) no-repeat fixed;
  color:              #555;

  font-size:          0.9em;
  font-weight:        normal;
  font-family:        "Bitstream Vera Sans", Verdana, Arial, Helvetica, sans-serif;

  line-height:        1.3em;
}

  /* Links */

  a {
    display:            inline;

    color:              #333;

    text-decoration:    none;

    font-style:         normal;
    font-weight:        normal;
    font-size:          1.1em;

    padding:            0em;
    border:             0em;
    margin:             0em;
  }

  a:link, a:active, a:visited {
    border-bottom:      1px dotted #333;
  }

  a:hover {
    color:              #000;
    border-bottom:      1px solid #000;
  }

  a.imagelink {
    border:             0em;
  }


  /* Main container */

  #everything {
    max-width:          85%;
    margin:             auto;
  }


    /* Logo section */

    #site_logo {
      display:          inline;
      float:            left;
    }

      #site_logo img {
        clear:          none;
      }


    /* Main navigation */

    #navigation {
      text-align: right;
    }

      #navigation ul {
        list-style-type:  none;
      }

        #navigation ul li {
          display:          inline;

          margin-right:   1em;
        }

      #navigation form {
        display:          inline;
      }

        #navigation form input {
          display           inline;
        }


    /* Pretty directory and filename showing */

    span.pretty_dir {
      color:              #ccc;

      font-style:         italic;
      font-weight:        normal;

      letter-spacing:     0.2em;

      margin-right:       0.2em;
    }

    span.pretty_name {
      font-weight:        normal;

      letter-spacing:     0.2em;
    }


    /* Content stuff further down */

    #content {
      clear:                both;
    }

    /* Footer information at the bottom */

    #footer {
      display:            block;
      clear:              both;

      text-align:         center;
      font-size:          0.6em;

      margin-top:         2em;
    }

      #footer ul {
        display:            inline;

        text-align:         center;
        vertical-align:     top;

        list-style-type:    none;
      }

        #footer ul li {
          display:            inline;

          vertical-align:     top;

          padding:            1em;
        }

      #footer img {
        display:            inline;

        vertical-align:     bottom;

        padding:            0em;
        border:             0em;
        margin:             0em;
      }


    /* Single page */

    #page_view {
      padding-left: 250px;
    }

      #page_view #page_actions {
        position:           fixed;
        left:               110px;
        top:                140px;

        text-align:         right;
        line-height:        2em;

        padding-right:      9px;
        border-right:       1px solid #bcf;
      }

        #page_view #page_actions ul {
          list-style-type:    none;
        }


      #page_view #page_content {
        position:           relative;
        right:              150px;

        min-height:         10em;

        padding-left:       40px;
        margin-left:        10px;
      }

      #page_view #page_content #body {
        padding-top:        30px;
      }

    #page_view_details {
      clear:              both;

      text-align:         right;
      font-size:          0.7em;
    }

      #page_view_details ul {
        list-style-type:    none;
      }


    /* Page list */

    #page_list ul {
      list-style-type:    none;
    }

      #page_list .entry {
        margin-bottom:      0.5em;
      }

      #page_list .directory ul {
        display:            block;
      }

      #page_list .page ul {
        display:            inline;
      }

      #page_list .entry ul li {
        display:            inline;
      }

      #page_list .actions a {
        font-style:         italic;
        font-size:          0.8em;
      }


    /* Wiki history */

    #history_view .sidebar ul.info {
      list-style-type:    none;
    }

