body {
  background-color:   #888;
  color:              #f5f5f5;

  font-size:          0.8em;
  font-weight:        normal;
  font-family:        "Bitstream Vera Sans", Verdana, Arial, sans-serif;

  line-height:        1.2em;
  margin:             2em;

  border:             0.5em solid #aaa;
  margin:             0em;
  padding:            2em;
}

#container {
 width:         70%;

 background:    #700;

 padding:       3em;
 border:        1px solid #da2;
 margin:        auto;
}

.content {
  background:         #555;

  padding-top:        2em;
  padding-bottom:     2em;
  padding-left:       5em;
  padding-right:      5em;

  border-left:        1px solid #da2;
  border-top:         4px solid #404040;
  border-right:       1px solid #da2;
  border-bottom:      1px solid #da2;
}

.content h1 { font-size: 2.0em; }
.content h2 { font-size: 1.8em; }
.content h3 { font-size: 1.6em; }
.content h4 { font-size: 1.4em; }


/* Prettified page name and path display */

  span.pretty_dir {
    color:              #b77;

    font-style:         italic;
    font-size:          1em;

    letter-spacing:     0.2em;

    margin-right:       0.2em;
  }

  span.pretty_name {
    letter-spacing:     0.2em;
  }


/* Link  defaults */
a, a:link, a:visited, a:active {
  color:              #e5e5e5;

  text-decoration:    none;

  padding:            0em;
  border-bottom:      1px dotted #ccc;
  margin:             0em 0em 0.2em 0em;
}

a:hover {
  color:              #fff;
  border-bottom:      1px solid #fff;
}

/* Navigation linkage. */

/* Link  defaults */
a.nav_link, a.nav_link:link, a.nav_link:visited, a.nav_link:active, a.nav_link:hover {
  font-size:          1em;
  margin-bottom:      0.2em;
}

code, pre {
  font-family: "SGIScreen", "Consolas", "Deja Vu Sans Mono", "Bitstream Vera Sans Mono", monospace;
}

h1 { font-size: 2.5em; }

input[type=text] {
  border: 1px solid #ccc;
  font-family: "SGIScreen", "Consolas", "Deja Vu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  font-size: 0.9em;
}

textarea {
  border: 1px solid #ccc;
  font-family: "SGIScreen", "Consolas", "Deja Vu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  font-size: 0.9em;
  padding: 5px;
}

.cancel {
  font-weight: normal;
  text-decoration: none;
  font-size: 14px;
}
.cancel:before { content: "("; }
.cancel:after { content: ")" }

.clearer { clear: both; }

.delta {
  font-size: 1.1em;
  padding: 0;
}

.edit textarea {
  display:        block;

  max-height:     20em;
  min-width:      100%;

  margin-bottom:  1em;
}


.nav_list {
  list-style-type:  none;
  text-align:       right;

  padding-top:      0.3em;
  padding-bottom:   0.3em;
}

#footer {
  list-style-type:  none;
  text-align:       right;

  margin-top:   1em;
}

.nav_list li {
  display:          inline;
  padding-right:    1em;
}

.niceform label, .niceform input[type=text] {
	display: block;
	width: 200px;
	float: left;
	margin-bottom: 10px;
}

.niceform label {
	text-align: right;
	width: 150px;
	padding-right: 20px;
}

.niceform br {
	clear: left;
}

.right { text-align: right; }

.search_result { margin-bottom: 15px; }

.search_result .match {
  line-height: 1em;
  margin-bottom: 15px;
}

.search_term { color: #0aa; }

.submit {
  font-size: 1.1em;
}

.sub_nav {
  background:       #424242;

  list-style-type:  none;

  text-align:       center;

  padding:          1.2em 1em 1.2em 1em;

  border-top:       1px solid #da2;
  border-left:      1px solid #da2;
  border-bottom:    1px solid #404040;
  border-right:     1px solid #da2;

  margin:           0em;
}

.sub_nav ul { display: inline; }

.sub_nav li {
  display:          inline;

  padding:          0.5em;
  border:           none;
}

.sub_nav .details {
  display:          inline;

  color:            #ccc;
  font-size: .85em;
  margin: 0 0 0.3em 0.3em;
  border:           none;
}

.sub_nav .details a {
  color: #666;
  text-decoration: none;
}

span.detail {
	color: #888;
	font-size: .85em;
}

div.attach-options {
	margin-left: 30px;
	margin-bottom: 10px;
	font-size: .85em;
	color: #888;
}

/* Page list */

ul.page_list {
  list-style:       none;
}


/* Remove some spacing by default */

ul.page_list ul {
  list-style:       none;
}

ul.page_list li {
  list-style:       none;

  padding:          0em;
  border:           none;
  margin-bottom:    0.3em;
}


  /* Directories */

  ul.page_list ul.directory {
    display: block;

    padding-top:    0em;
    padding-bottom: 0em;

    margin-top:     0.5em;
    margin-bottom:  0em;
  }

    ul.page_list ul.directory li {
      display:  block;
    }


    /* Directory labels in page list */

    ul.page_list ul.directory li.directory_label {
      color:            #aaa;
    }

      ul.page_list ul.directory li.empty_directory {
        color:            #ccc;

        font-weight:      normal;
        font-style:       italic;
        font-size:        0.8em;

        margin-left:      1em;
      }


  /* Pages */


  ul.page_list ul.page {
    display:        inline;
  }

    ul.page_list ul.page li {
      display:    inline;
    }

    ul.page_list ul.page li.name {
      font-size:        1.2em;
      font-style:       normal;
    }

    /* Page actions */

    ul.page_list ul.page li.actions {
      font-weight:    normal;
      font-style:     italic;
      font-size:      0.8em;
    }

    ul.page_list ul.page li.actions ul {
      display:        inline;

      padding-left:   0em;
      margin-left:    0em;
    }

    ul.page_list ul.page li.actions ul li {
      display:        inline;

      margin-right:   0.5em;
    }

    ul.page_list ul.page li.actions a {
      color:          #bababa;
    }


/* ids */

#edit_textarea {
  height:       35em;
  width:        100%;

  margin-top:   1.5em;
  margin-right: 0em;
}

#message_textarea {
  height:       3em;
  width:        100%;

  margin-top:   0.5em;
  margin-right: 0em;
}


#footer { clear: both; }

#search_field {
  color:        #444;
  background:   #eee;

  font-style:   italic;
  font-size:    0.8em;

  padding:      0.2em 0em 0em 0em;
  border:       1px solid #aaa;
  margin-right: 0em;
}
