body {
  background-color: #fff;
  color: #333;
  font-family: Helvetica, Arial, "Deja Vu Sans", "Bitstream Vera Sans", sans-serif;
  font-size: .95em;
  line-height: 1.6em;
  margin: 2em;
}

/* Link  defaults */
a {
  color: #777;
  text-decoration: none;
  border-bottom: 1px dotted #777;
}

a:visited {
  color: #777;
  text-decoration: none;
  border-bottom: 1px dotted #777;
}

a:active {
  color: #777;
  text-decoration: none;
  border-bottom: 1px dotted #777;
}

a:hover {
  color: #444;
  text-decoration: none;
  border-bottom: 1px solid #444;
}

code, pre {
  font-family: "Deja Vu Sans Mono", "Bitstream Vera Sans Mono", "Inconsolata", "Consolas", monospace;
}

h1 {
  color: #333;
  font-size: 3.5em;
  margin: 24px 0 8px 0;
}

input[type=text] {
  border: 1px solid #ccc;
  font-family: Helvetica, Arial, "Deja Vu Sans", "Bitstream Vera Sans", sans-serif;
  font-size: 0.875em;
}

label { font-size: .9em; }

table {
  font-size: 0.9em;
  width: 100%;
}

textarea {
  border: 1px solid #ccc;
  font-family: "Deja Vu Sans Mono", "Bitstream Vera Sans Mono", "Inconsolata", "Consolas", monospace;
  font-size: .9em;
  padding: 5px;
}

ul {
  list-style-type: square;
  padding: 0 0 1em 1.4em;
}

/* classes */

.cancel {
  font-weight: normal;
  text-decoration: none;
  font-size: 14px;
}
.cancel:before { content: "("; }
.cancel:after { content: ")" }

.clearer { clear: both; }

.content {
  padding:      1em;

  margin-left:  2em;
}

.content h1, .content h2, .content h3, .content h4 {
  padding: 0 0 .4em 0;
  margin: 0 0 0 0;
}

.content h1 { font-size: 2.6em; }
.content h2 { font-size: 2em; }
.content h3 { font-size: 1.8em; }
.content h4 { font-size: 1.6em; }

.delta {
  font-size: 1.1em;
  padding: 0;
}

.edit textarea {
  display: block;
  margin-bottom: 5px;
  max-height: 300px;
  min-width: 100%;
}

.nav_link, .nav_link:visited {
  display: inline;
  padding: 3px;
  color: #666;
}

.nav_link:hover {
  background-color: #d1ccdb;
  color: #333;
  text-decoration: none;
}

.nav_list, #footer {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  list-style-type: none;
  padding: 4px;
  text-align: right;
}

.nav_list li {
  display: inline;
  padding-right: 10px;
}

.niceform label, .niceform input[type=text] {
	display: block;
	width: 200px;
	float: left;
	margin-bottom: 10px;
}

.niceform label {
	text-align: right;
	width: 150px;
	padding-right: 20px;
}

.niceform br {
	clear: left;
}

.right { text-align: right; }

.search_result { margin-bottom: 15px; }

.search_result .match {
  line-height: 1em;
  margin-bottom: 15px;
}

.search_term { color: #999; }

.submit {
  font-size: 1.2em;
  font-weight: bold;
}

.sub_nav {
  float: left;
  list-style-type:none;
  padding: 8px 0 0 0;
  margin: 0;
  width:200px;
}

.sub_nav li {
  padding:0;
}

.sub_nav .details {
  color: #888;
  font-size: .85em;
  margin: 0 0 0.3em 0.3em;
}

.sub_nav .details a {
  color: #666;
  text-decoration: underline;
}

span.detail {
	color: #888;
	font-size: .85em;
}
div.attach-options {
	margin-left: 30px;
	margin-bottom: 10px;
	font-size: .85em;
	color: #888;
}

/* Page list */

ul.page_list {
  list-style:       none;
}


/* Remove some spacing by default */

ul.page_list ul {
  list-style:       none;
}

ul.page_list li {
  list-style:       none;

  padding:          0em;
  border:           none;

  margin:           0.3em 0em 0em 0em;
}


  /* Directories */

  ul.page_list ul.directory {
    display: block;

    margin-bottom:    0em;
    margin-top:       0em;
  }

    ul.page_list ul.directory li {
      display:  block;

      margin-bottom:    0em;
      margin-top:       0em;
    }


    /* Directory labels in page list */

    ul.page_list ul.directory li.directory_label {
      color:            #aaa;

      font-weight:      bold;
      font-size:        1em;

      text-decoration:  none;
    }

      ul.page_list ul.directory li.empty_directory {
        color:            #ccc;

        font-weight:      normal;
        font-style:       italic;
        font-size:        0.8em;

        margin-left:      1em;
        margin-bottom:    0em;
        margin-top:       0em;
      }


  /* Pages */


  ul.page_list ul.page {
    display:    inline;
  }

    ul.page_list ul.page li {
      display:    inline;
    }

    ul.page_list ul.page li.name {
      font-weight:      bold;
      font-style:       normal;
    }

    /* Page actions */

    ul.page_list ul.page li.actions {
      font-weight:    normal;
      font-style:     italic;
      font-size:      0.8em;
    }

    ul.page_list ul.page li.actions ul {
      display:        inline;
    }

    ul.page_list ul.page li.actions ul li {
      display:        inline;

      margin-right:   1em;
    }

    /* Page action links */

    ul.page_list ul.page li.actions a:link     { color: #aaa; border-bottom: 1px dotted #aaa; }
    ul.page_list ul.page li.actions a:visited  { color: #aaa; border-bottom: 1px dotted #aaa; }
    ul.page_list ul.page li.actions a:active   { color: #aaa; border-bottom: 1px dotted #aaa; }
    ul.page_list ul.page li.actions a:hover    { color: #444; border-bottom: 1px solid #444; }


/* ids */

#container {
 clear:         both;
 margin:        auto;

 width:         70%;
}

#edit_textarea {
  height:       35em;
  width:        100%;

  margin-top:   1.5em;
  margin-right: 0em;
}
#message_textarea {
  height:       2em;
  width:        100%;

  margin-top:   0.5em;
  margin-right: 0em;
}


#footer { clear: both; }

#search_field {
  color:        #444;
  background:   #eee;

  font-style:   italic;
  font-size:    0.8em;

  padding:      0.3em 0.2em 0.2em 0.2em;
  border:       1px solid #aaa;
  margin-right: 0em;
}
